node_modules/

features/*/dist/
variants/*/dist/
states/*/dist/
utilities/*/dist/

base-components/*/dist/
base-content-components/*/dist/

simple-components/*/dist/
layout-components/*/dist/
status-components/*/dist/
notification-components/*/dist/
menu-components/*/dist/
dialog-components/*/dist/
composite-components/*/dist/


lerna-debug.log
npm-debug.log
